@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.BG{
  background-color: rgb(255, 217, 0);
  height: 100vh;
  /* width: 100%; */
}

.login-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  /* width: 100%; */
  height:100vh;
}

.login-container img{
  width: 300px;
  margin-bottom: 70px;
}

.login-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:15px;
  width: auto;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  gap: 15px;
}

.login-form-container input{
  width: 250px;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  padding: 10px;
  padding-left: 15px;
}

.login-form-container input::placeholder{
  opacity: 40%;
}

.login-form-container input:focus{
  outline: none;
}

.login-form-container a{
  text-decoration: none;
  color: rgb(255, 123, 0);
  cursor: pointer;
}

.login-form-container a:hover{
  text-decoration: underline;
}

.login-form-container button{
  font-size: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 7px;
  border: none;
  background-color: rgb(255, 174, 0);
  color: white;
}

.login-form-container button:hover{
  background-color: rgb(255, 136, 0);
  cursor: pointer;
}

.Nav-Div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 217, 0);
}

.Nav-Div img{
  margin-left: 50px;
  height: 40%;
}

.links a{
  text-decoration: none;
  margin-right: 60px;
  padding-bottom: 3px;
}

.links a:hover{
  cursor: pointer;
  border-bottom: 2px solid black;
}

.page-title{
  margin-top: 50px;
  margin-left: 50px;
}

.survey-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 50px;
  gap: 50px;
}

.survey-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  color: white;
  font-weight: 400;
  border-radius: 15px;
  text-align: center;
  background:linear-gradient(to bottom right, rgba(255, 40, 213, 1),  rgba(6, 6, 65, 1));
  cursor: pointer;
}

.add-survey-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.add-btn{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  background-color:#0E0A4B;
  color: white;
  border-radius: 10px;
  border: none;
}

.add-btn:hover{
  background-color:#07006b;
}

.add-question-container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}